.kreska{
position: relative;

}

.underline{
position:absolute;  
bottom: 6vh;
left: 20vw;
z-index: 0;

}
        
        
.panel{
    background: #fff;
    width: 25vw;
    border-radius: 10px;
    padding: 30px 0px 40px 0px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.panel-title{
    z-index: 1;
    font: normal normal bold 84px/89px Volkhov;
    text-align: center;
    height: 6.8125rem;
    width:100vw;
    color: #6E9277;
    letter-spacing: -3px;
}
.panel-input{
    font-size: 2.2vh;
    display: block;
    width: 25vw;
    height: 4.5vh;
    padding: 2px 12px;
    margin: 10px auto 5vh auto;
    border: 0.5px solid #000000;
    border-radius: 36px;
    box-shadow: 0px 52px 46px #00000012;
}
.panel-content{
    margin: auto;
}
.panel-submit{
    font-size: 2.2vh;
    padding: 5px 30px; 
    width: 12.5vw;
    height: 5.6vh;
    display: block;
    margin: 9vh auto;
    background: #6E9277;
    color: #fff;
    border-radius: 36px;
    border: 2px solid #fff;
    box-shadow: 0px 52px 46px #00000012;
    }

.panel-submit:hover{
    background: #95C461;
    color: #fff;    
}

.notification{
    font: normal normal normal 18px/22px Product Sans Regular;
    color: #6E9277;
    text-align: center;
    margin-top:-2.87vh;

}